.main img{
    width: 80vw;
    height: 100vh;
    position: fixed;
}
.form-signup .signup{
    text-align: center;
}
.form-signup{
    padding-top: 12%;
    width: 500px;
    height: 100vh;
    position: fixed;
    right: 0;
    background-color: rgb(255, 201, 22);
}