.main-login img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
.form-login .login{
    text-align: center;
}
.form-login{
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 20vh;
    background-color: rgb(255, 255, 255);
}